import init.smdkv210.usb.rc

on init
    export EXTERNAL_STORAGE /mnt/sdcard
    export EXTERNAL_STORAGE_SD /mnt/sdcard
    export EXTERNAL_STORAGE_UDISK /mnt/udisk
    export EXTERNAL_STORAGE_EXTSD /mnt/extsd

    # create mountpoints
    mkdir /mnt 0775 root system
    mkdir /mnt/sdcard 0000 system system
    mkdir /mnt/udisk 0000 system system
    mkdir /mnt/extsd 0000 system system

    # Backwards Compat - XXX: Going away in G*
    symlink /mnt/sdcard /sdcard
    symlink /mnt/extsd /extsd
    symlink /mnt/udisk /udisk

    # Secure container public mount points.
    mount usbfs none /proc/bus/usb -o devmode=0666

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug

    setprop ro.build.product smdkv210
    setprop ro.product.device smdkv210
    setprop ro.product.locale.language en
    setprop ro.product.locale.region IN
    setprop ro.radio.noril yes
    setprop ro.bt.bdaddr_path "/system/etc/bluetooth/softmac"
    setprop wifi.interface wlan0

    setprop au.ui.enable_volume_key true
    setprop au.ui.enable_usb_switch false
    setprop au.ui.rotate180 true
    setprop au.ui.enable_rotation_switch true
    setprop au.ui.enable_soft_key true
    setprop au.ui.enable_bluetooth true

    # fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

    # cpufreq, set ondemand governor
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand

    # Load kernel modules
    insmod /system/lib/modules/asix.ko
    insmod /system/lib/modules/battery.ko
    insmod /system/lib/modules/button_mid713.ko
    insmod /system/lib/modules/mma7660.ko
    insmod /system/lib/modules/sr9700.ko

on fs
    mount ext4 /dev/block/mmcblk1p4 /data nosuid nodev
    mount ext4 /dev/block/mmcblk1p3 /cache nosuid nodev

on post-fs
    # create wifi folders
    mkdir /system/etc/wifi 0770 wifi wifi
    chmod 0777 /system/etc/wifi
    chmod 0666 /system/etc/wifi/wpa_supplicant.conf
    chown wifi wifi /system/etc/wifi/wpa_supplicant.conf

    # permissions for bluetooth.
    chown bluetooth bluetooth /system/etc/bluetooth
    chmod 770 /system/etc/bluetooth
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chown bluetooth bluetooth /dev/s3c2410_serial3
    chmod 0600 /dev/s3c2410_serial3
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type

    # Owners, Modes for Bluetooth
    chmod 0660 sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    write sys/class/rfkill/rfkill0/state 0

    # Permissions for System Server and daemons.
    chown system system /sys/class/backlight/pwm-backlight/brightness

    # Fake a carrier.
    setprop gsm.sim.operator.numeric 310004
    setprop gsm.sim.operator.alpha Verizon
    setprop gsm.sim.operator.iso-country us
    setprop gsm.operator.numeric 31000
    setprop gsm.operator.alpha "Verizon Wireless"

on post-fs-data
    mkdir /data/system/ 0771 system system

    # wpa_supplicant control socket for android wifi.c
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    chown wifi wifi /data/misc/wifi
    chown wifi wifi /data/misc/wifi/wpa_supplicant.conf
    chmod 0770 /data/misc/wifi
    chmod 0660 /data/misc/wifi/wpa_supplicant.conf

    # for dhcpd
    mkdir /data/misc/dhcp 0777 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    setprop vold.post_fs_data_done 1

# 3D init
service pvrsrvinit /system/vendor/bin/pvrsrvinit
    class core
    user root
    group root
    oneshot

# Wi-Fi
service wpa_supplicant /system/bin/wpa_supplicant -dd -Dwext -iwlan0 -c /system/etc/wifi/wpa_supplicant.conf
    class main
    group system wifi inet
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

# Wi-Fi (DHCPCD)
service dhcpcd_wlan0 /system/bin/dhcpcd -d -f/system/etc/dhcpcd/dhcpcd.conf wlan0
    class main
    group system dhcp
    disabled
    oneshot

# Wi-Fi (IP Renew)
service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

# Bluetooth
service hciattach /system/bin/hciattach -n /dev/s3c2410_serial3 any 38400 flow                             
    class main
    disabled

# Bluetooth (DHCPCD)
service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

# Bluetooth (IP Renew)
service iprenew_bnep0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

# Install Busybox
service install_busybox /system/xbin/busybox sh /system/etc/install_busybox.sh
    class main
    oneshot

# Check property for first boot
service check_property /system/xbin/busybox sh /system/etc/check_property.sh
    class main
    oneshot

# Load driver kernel modules
service insmod /system/xbin/busybox sh /system/etc/insmod.sh
    class main
    oneshot

